body {
  background: grey;
  margin-left: 100px;
  margin-right: 100px;
}

.map {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0px;
}
.map iframe {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.api {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0px;
}
.api iframe {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.bench {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0px;
}
.bench iframe {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.squat {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0px;
}
.squat iframe {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.deadlift {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0px;
}
.deadlift iframe {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.clean {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0px;
}
.clean iframe {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
h3 {
  width: 25%;
  background: black;
  color: white;
  padding: 10px;
  width: 110px;
  height: 110px;
  position: relative;
  animation-name: ball;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  border-radius: 125px;
  text-align: center;
  padding: 20px;
}

@keyframes ball {
  0% {
    background-color: black;
    color: white;
    left: 0px;
  }
  50% {
    left: 400px;
  }
  100% {
    left: 00px;
  }
}

.cardCont {
  width: 80px;
  height: 100px;
  position: relative;
  perspective: 800px;
}
#card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: 1.5s;
}
#card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100px;
  height: 54px;
  backface-visibility: hidden;
}
#card .front {
  background: black;
  text-align: center;
  color: white;
}
#card .back {
  background: white;
  text-align: center;
  color: black;
  transform: rotateY(180deg);
}
#card:hover {
  transform: rotateY(180deg);
}
#linear {
  width: 100px;
  height: 40px;
  text-align: center;
  background: black;
  color: white;
  transition: width 2s;
  transition-timing-function: linear;
  transition-delay: 1s;
}
#linear:hover {
  width: 300px;
  color: white;
  border-bottom: 5px solid white;
}
